<main>

  <div>
    <app-navbar [adminPreviewMode]="true" (requestNavToEditAlbums)="requestNavToEditAlbums.emit()"
                (adminModeBlockedNavigation)="alert('Cannot navigate between pages in Admin Preview Mode.')" />
  </div>

  <div class="portfolio-items">
      @if (!loadingPhotos() && !loadingPhotosError()){
          <div class="photo-card">
            @if (displayedPhoto() !== null && displayedImage() !== null) {

                  <div class="image-container">
                    @for (image of [displayedImage()!]; track image.id){
                      <app-image-display [displayedImage]="displayedImage()!"/>
                    }
                  </div>

                @if (shouldIncludeTextContentContainer(displayedPhoto()!)){
                  <div class="text-content-container">
                    @if (displayedPhoto()!.displaysName){
                      <p class="name">{{ displayedPhoto()!.name }}</p>
                    }
                    @if (displayedPhoto()!.displaysDescription) {
                      <p class="description">{{ displayedPhoto()!.description }}</p>
                    }
                    @if (displayedPhoto()!.displaysYearCC){
                      <p class="year-cc">{{ displayedPhoto()!.yearContentCreated }}</p>
                    }
                  </div>
              }
              <div class="button-nav">
                <button class="prev-button" (click)="prevPhoto()">
                  <
                </button>
                <button class="next-button" (click)="nextPhoto()">
                  >
                </button>
              </div>
            }

          </div>

      }
  </div>

</main>
