<main>

  <div>
    <app-navbar [adminPreviewMode]="true" (requestNavToEditAlbums)="requestNavToEditAlbums.emit(album().id)"
                (adminModeBlockedNavigation)="alert('Cannot navigate between pages in Admin Preview Mode.')" />
  </div>

  <div class="portfolio-items">
      @if (!loadingItems() && !loadingItemsError()){
        @for (item of items(); track item.id){
          @switch (item.kind){
            @case ('photoDisplay'){
              <app-portfolio-page-photo-display [item]="item" />
            }
            @case ('photoDisplayCollection'){
              <app-portfolio-page-photo-display-collection [item]="item" />
            }
            @default {

            }
          }
        }
      }
  </div>

</main>
