bin/
obj/
/.idea/
.idea/
/packages/
riderModule.iml
/_ReSharper.Caches/
global.json
WebApplication6.sln.DotSettings.user
WebApplication6/appsettings.json
WebApplication6/appsettings.Development.json
WebApplication6/Frontend/node_modules/
WebApplication6/Frontend/.angular/
WebApplication6/Frontend/public/
WebApplication6/Frontend/public/*
WebApplication6/wwwroot/app/
WebApplication6/wwwroot/uploads/*
/WebApplication6/aspnet-run.err.log
/WebApplication6/aspnet-run.out.log