:host {
  position: absolute;
  inset: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.65);

  /*outline: 5px solid rgba(0, 0, 0, 0.65);*/
}

div.detailed-photo-view {
  position: sticky;
  top: 10dvh;
  height: 80dvh;
  max-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /*padding: 24px;*/
  /*box-sizing: border-box;*/


}

.detailed-photo-view {
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    border: 8px solid #232323;
  }

  button {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 32px;
    height: 32px;

    border: none;
    border-radius: 50%;
    background: #222;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
}
