@let image = (photo() !== null) ? photo()!.image : null;
@if (image !== null) {
  @let i = image!;
<!--  <article class="art-card" cdkDrag>-->
  <article class="art-card">
    <div class="art-image">
      @for (img of [i]; track img.id){
        <app-image-display [displayedImage]="image" />
      }
<!--      <img-->
<!--        [ngSrc]="image.url"-->
<!--        [width]="image.width"-->
<!--        [height]="image.height"-->
<!--        [alt]="image.altText || photo()?.name || 'Artwork'"-->
<!--        (click)="sendPhotoViewRequest()"/>-->
    </div>
    <div class="art-card-details">
      <span>
<!--        <button style="background-color: green; color: white; font-size: 18px;" (click)="toggleOrderVisibilityView()">{{ photo().order }}</button>-->
<!--        @if (editingOrder()){-->
<!--          <input type="number" name="newOrderValue" [(ngModel)]="newOrderValue" (keydown.enter)="updateOrder(newOrderValue)"/>-->
<!--        }-->
      </span>
      @if (groupingView()){
      <span>
          <button (click)="collectionGroupingOptStatusChanged.emit(!includeInNewGroup())">{{ includeInNewGroup() ? 'Exclude' : 'Include'}}</button>
      </span>
      }
      <div class="art-card-user-field">
        <h3>{{ photo()?.name }}</h3>
        <button [style]="'background-color: ' + displaysNameColor()" (click)="toggleDisplaysName()"></button>
      </div>
      <div class="art-card-user-field">
        <p>{{ photo()?.description || 'No description' }}</p>
        <button [style]="'background-color: ' + displaysDescColor()" (click)="toggleDisplaysDesc()"></button>
      </div>
      <div class="art-card-user-field">
        <p>{{ photo()?.yearContentCreated || '' }} </p>
        <button [style]="'background-color: ' + displaysYearColor()" (click)="toggleDisplaysYearCC()"></button>
      </div>
    </div>
  </article>
}
