<!--<section class="card upload-card">-->
<section class="portfolio-card">
<!--    <label class="field-label" for="albums">Album</label>-->
  <div class="styling-select-container">
    <label for="stylings">Styling</label>

    <div class="styling-select">
      <select
      name="stylings"
      id="stylings"
      [(ngModel)]="selectedStyleLayout"
    >
      <option [ngValue]="null">Page Styling</option>
      @for (s of stylingLayouts(); track s){
        @let sCapitalized = s.at(0)!.toLocaleUpperCase() + s.substring(1, s.length);
        <option [ngValue]="s">{{ sCapitalized }}</option>
      }
    </select>
<!--    </div>-->

    <div class="styling-select-buttons">
      <button (click)="previewRequest()">preview</button>
      <button (click)="onApplyStyling()">apply</button>
    </div>
  </div>
  </div>

<!--  <div>-->

<!--  </div>-->

  <div class="visibility-manager-container">
    <label>Visibility</label>
    <div class="visibility-select">

      @if (!portfolioPage()?.published){
        <div>
          <button (click)="publish()">Publish</button>
        </div>
        <div>
          <p class="unpublished">This item is not published</p>
        </div>
      } @else {
        <div>
        <button (click)="unpublish()">Unpublish</button>
        </div>
        <div>
          <p class="published">Published</p>
        </div>
      }

    <div>
      <button (click)="requestNavbarView()">Edit Navbar</button>
    </div>
      <div>
      @if (portfolioPage() != null && portfolioPage()!.navbarOrder > -1){
        @if (portfolioPage()!.published){
          <p>In Navbar<p>
        } @else {
          <p>Assigned a Navbar position, but hidden; not published</p>
        }
      } @else {
        <p>This item is not displayed in the Navbar</p>
      }
      </div>
      <div></div>
      <div class="navbar-manager">
      @if (viewingNavbarState()){
        <ol>
          @for (n of navbarItems(); track n.id){
            <li>{{ n.navTitle }}</li>
          }
        </ol>
        <p class="navbar-headsup">You can have up to 5 items in your Navbar</p>
      }
        </div>
    </div>
  </div>


<!--  <div class="card-heading upload-heading">-->
<!--    <div>-->

<!--&lt;!&ndash;      <h2>Upload artwork</h2>&ndash;&gt;-->
<!--    </div>-->
<!--&lt;!&ndash;    <span class="upload-helper">PNG, JPG, or WebP · 5 MB max</span>&ndash;&gt;-->
<!--  </div>-->

</section>
