<div class="photo-card"
     [style.--photo-source-width]="image() ? image()!.width + 'px' : null"
     [style.--photo-aspect]="image() ? image()!.width / (image()!.height || 1) : null">
  @if (photoDisplay() !== null && image() !== null) {

    <div class="image-container">
      @for (image of [image()!]; track image.id){
        <app-image-display [displayedImage]="image"/>
      }
    </div>

    @if (shouldIncludeTextContentContainer(photoDisplay())){
      <div class="text-content-container">
        @if (photoDisplay().displaysName ||
             (photoDisplay().displaysYearContentCreated && photo().yearContentCreated !== null)) {
          <div class="caption-heading">
            @if (photoDisplay().displaysName){
              <p class="name">{{ photo().name }}</p>
            }
            @if (photoDisplay().displaysYearContentCreated && photo().yearContentCreated !== null){
              <p class="year-cc">{{ photo().yearContentCreated }}</p>
            }
          </div>
        }
        @if (photoDisplay().displaysDescription) {
          <p class="description">{{ photo().description }}</p>
        }
      </div>
    }

  }

</div>
