.portfolio-card {
  display: flex;

  /*display: grid;*/
  /*grid-template-columns: 1fr 2fr;*/
  /*!*align-items: start;*!*/
  /*border: 1px solid var(--border);*/
  /*border-radius: 10px;*/
  /*padding: 1rem;*/
  /*background: var(--surface);*/
  /*gap: 20px;*/

  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    /*align-items: start;*/
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 1rem;
    background: var(--surface);
    gap: 20px;
    width: stretch;

    input {
      display: inline-block;
      width: fit-content;
      max-width: fit-content;
    }

    .navorder-submit {
      button {
        display: inline;
        max-width: fit-content;
      }
    }

  }

}

label {
  display: flex;
  /*padding-left: 0.15rem;*/
  margin: 0 0 0.15rem 0.15rem;
  justify-self: start;
  font-size: 0.7rem;
  font-weight: bold;
}

.styling-select-container, .visibility-manager-container {
  font-size: 1rem;
  text-align: center;
  height: fit-content;
  align-content: center;
  align-items: center;
  width: stretch;

  .styling-select, .visibility-select {
    /*display: flex;*/
    /*justify-self: start;*/
    display: grid;
    /*gap: 1px;*/
    grid-template-columns: auto auto;

    select {
      border-radius: 7px;
      padding: 0 0.05rem 0.2rem 0.4rem;
      /*color: var(--text);*/
      /*background: var(--surface);*/
      font: inherit;
      font-size: 0.9rem;
      min-height: fit-content;
      margin-right: 1px;
    }

    button {
      display: flex;
      width: 100%;
      gap: 1px;
      /*justify-content: center;*/
      padding-left: 0.5rem;
    }

  }

  div {
    margin: 0 0 0 0;
  }

}

.visibility-manager-container {

  .visibility-select {

    p {
      margin: 0 0 0 0.5rem;
      display: flex;
      justify-self: start;
    }

    .published {
      color: green;
    }

  }

  .navbar-manager {
    margin: 0;
    padding: 0;
    align-content: center;
    justify-items: center;

    ol {
      margin: 0.6rem 0 0.4rem 0;
      display: block;

      li {
        display: inline;
        margin-right: 1rem;
      }

      button {
        cursor: pointer;
        margin-top: 0.5rem;
        justify-self: center;
        justify-content: center;
        width: fit-content;
      }

    }

    .navbar-headsup {
      display: inline;
      margin-left: 0;
      padding-left: 0.85rem;
      color: #6666ff;
      font-size: 0.85rem;
      align-self: center;
      align-content: center;
      align-items: center;
    }

  }

}
